.title {
    font-family: 'Noto Serif', serif;
    font-size: 30px ;
    color: #000;
  }

  .cardtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 25px ;
    color: #000;
  }

.cardtext{
  font-family: 'Raleway', sans-serif;
  font-size: 18px ;
  color: #000;
}

.price{
  font-family: 'Raleway', sans-serif;
  font-size: 16px ;
  color: #000;
}

.footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#666666;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
